<h1><%= @article.title %></h1>

<%=link_to @article.category.title, cat_name_path(@article.category.title) %>


<p><%= @article.description %></p>

<p>
  <% @article.tags.each do |tag| %>

    <%=link_to tag.name, tag_name_path(tag.name) %>

  <% end %>
</p>

